/*
!.gitignore
!README.md
!.github/
!favicon.ico

!wp-content/
wp-content/*

!wp-content/themes/

wp-content/themes/*
!wp-content/themes/moveo-theme/

wp-content/themes/moveo-theme/node_modules/
wp-content/themes/moveo-theme/.DS_Store
wp-content/themes/moveo-theme/mix-manifest.json
wp-content/themes/moveo-theme/package-lock.json

wp-content/themes/moveo-theme/dist/

*.log
*.sql
*.bak
*.swp
*.swo